


th{
    background-color: black;
    color: rgb(255, 255, 255);;
}

td {
    border: 1px solid #000000;
}

th:last-child, td:last-child {
    border-right: none;
}
table {
    border-collapse: collapse;
}